<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Navbar in Flask</title>
</head>
<!-- Navbar code -->
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Hen House</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_first_page') }}">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_second_page') }}">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_third_page') }}">Calendar</a>
                    </li>
                </ul>
            </div>
        </nav>
<!--Static March calendar-->
        <div>
            <h2 align="center" style="color: black;">
                March 2024
            </h2>
            <br />
            <table bgcolor="white" align="center" border="1px solid black"
                cellspacing="21" cellpadding="21" style="width: 100%; height: 100%;">
                <!---->
                <!-- The tr tag is used to enter 
                    rows in the table -->
        
                <!-- It is used to give the heading to the
                    table. We can give the heading to the 
                    top and bottom of the table -->
        
                <caption align="top">
                    <!-- Here we have used the attribute 
                        that is style and we have colored 
                        the sentence to make it better 
                        depending on the web page-->
                </caption>
        
                <!-- Here th stands for the heading of the
                    table that comes in the first row-->
        
                <!-- The text in this table header tag will 
                    appear as bold and is center aligned-->
        
                <thead>
                    <tr>
                        <!-- Here we have applied inline style 
                            to make it more attractive-->
                        <th style="color: white; background: blue; text-align: center;">
                            Sun</th>
                        <th style="color: white; background: blue; text-align: center;">
                            Mon</th>
                        <th style="color: white; background: blue; text-align: center;">
                            Tue</th>
                        <th style="color: white; background: blue; text-align: center;">
                            Wed</th>
                        <th style="color: white; background: blue; text-align: center;">
                            Thu</th>
                        <th style="color: white; background: blue; text-align: center;">
                            Fri</th>
                        <th style="color: white; background: blue; text-align: center;">
                            Sat</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% for i in range(6)%}
                    <tr>
                        {% for j in range(7)%}
                            {% if i == 0 and j < 5 %}
                                <td></td>
                            {% elif i == 5 and j > 0 %}
                                <td></td>
                            {%else%}
                                <td align="left" valign="top" width="14%">
                                    {% if i == 0 %}
                                        {{ i+j-4 }}
                                        {% for key in events %}
                                            {% if events[key][0]==i+j-4 %}
                                                <p style="background-color: rgb(168, 255, 168);">{{key}} @ {{events[key][1]}}</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if i == 1 %}
                                        {{ i+j+2 }}
                                        {% for key in events %}
                                            {% if events[key][0]==i+j+2 %}
                                                <p style="background-color: rgb(168, 255, 168);">{{key}} @ {{events[key][1]}}</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if i == 2 %}
                                        {{ i+j+8 }}
                                        {% for key in events %}
                                            {% if events[key][0]==i+j+8 %}
                                                <p style="background-color: rgb(168, 255, 168);">{{key}} @ {{events[key][1]}}</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if i == 3 %}
                                        {{ i+j+14 }}
                                        {% for key in events %}
                                            {% if events[key][0]==i+j+14 %}
                                                <p style="background-color: rgb(168, 255, 168);">{{key}} @ {{events[key][1]}}</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if i == 4 %}
                                        {{ i+j+20 }}
                                        {% for key in events %}
                                            {% if events[key][0]==i+j+20 %}
                                                <p style="background-color: rgb(168, 255, 168);">{{key}} @ {{events[key][1]}}</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if i == 5 %}
                                        {{ i+j+26 }}
                                        {% for key in events %}
                                            {% if events[key][0]==i+j+26 %}
                                                <p style="background-color: rgb(168, 255, 168);">{{key}} @ {{events[key][1]}}</p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>