<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>Navbar in Flask</title>
      <style>
         #tableContainer {
         width: 100%; /* Adjust this as needed */
         }
         table {
         width: 100%;
         border-collapse: collapse;
         }
         td, th {
         text-align: left;
         }
         #row {
            border: solid;
            border-bottom: solid;
            width: 100%
         }
         h4 {
            width: 100%;
            margin: 0;
            text-align: center;
            padding: 20px;
         }
         h5 {
            margin: 0;
         }
         h6 {
            padding-top: 10px;
         }
         h2 {
            text-align: center;
         }
         #myText{
            width: 100%;
            margin: 0;
            text-align: center;
            padding: 20px;
         }
      </style>
   </head>
   <!-- Navbar code -->
   <body>
      <div class="container">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Hen House</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="{{ url_for('view_home') }}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{{ url_for('view_first_page') }}">Support</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{{ url_for('view_second_page') }}">Feed</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{{ url_for('view_third_page') }}">Calendar</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="{{ url_for('view_fourth_page') }}">Groups</a>
                 </li>
               </ul>
            </div>
         </nav>
         <form action="/" method="post"></form>
         <div>
            <h2>Hen Connect</h2>
            <table style="border: solid;">
               <tbody id="feedTbody">
                    <tr>
                        <div id="row">
                            <h6>@Student Wellness:</h6>
                            <h5>Free Classes</h5>
                            <h4 id="myText" style="text-align: center; padding: 20px; margin: 0;">Join us on Monday from 5:00-7:00pm for Restorative Yoga!</h4>
                        </div>
                    </tr>
                    <tr>
                        <div id="row">
                            <h6>@Will9753:</h6>
                            <h5>Food</h5>
                            <h4 id="myText" style="text-align: center; padding: 20px; margin: 0;">I love QDOBA burritos on Wednesdays!</h4>
                        </div>
                    </tr>
                    <tr>
                        <div id="row">
                            <h6>@University Centers:</h6>
                            <h5>Events</h5>
                            <h4 id="myText" style="text-align: center; padding: 20px; margin: 0;"> Geek Week Field Day at </h4>
                        </div>
                        
                    </tr>
                    <tr>
                        <div id="row">
                            <h6>@Ocean2468:</h6>
                            <h5>Main Street Activities</h5>
                            <h4 id="myText" style="text-align: center; padding: 20px; margin: 0;">New Arcade just opened up on main</h4>
                        </div>
                    </tr>
               </tbody>

            </table>
         </div>
         <div style="margin-top: 10px;">
             <input type="text" id="nameInput" name="NAMEfeed" size="50" placeholder="Name:">
             <p> </p>
             <input type="text" id="descInput" name="DESCfeed" size="50" placeholder="Subject:">
             <p> </p>
             <input type="text" id="feedInput" name="ADDfeed" size="50" placeholder="Text:">
             <button type="submit" id="submitBtn">Submit</button>


         </div>
      </div>
      <script>
         document.getElementById('submitBtn').onclick = function() {

             var nameValue = document.getElementById('nameInput').value;
             var descValue = document.getElementById('descInput').value;
             var inputValue = document.getElementById('feedInput').value;

             var tbody = document.getElementById('feedTbody');
             var div = document.createElement('div');
             div.id = 'row';
             var tr = document.createElement('tr');
             var h6 = document.createElement('h6');
             var h5 = document.createElement('h5');
             var h4 = document.createElement('h4');

             h6.textContent = "@".concat(nameValue, ":");
             h5.textContent = descValue;
             h4.textContent = inputValue

             div.style.width="100%";
             h4.style.textAlign = 'center';

             tr.appendChild(h6);
             tr.appendChild(h5);
             tr.appendChild(h4);
             div.appendChild(tr)
             tbody.appendChild(div);
             document.getElementById('feedInput').value = '';
             document.getElementById('nameInput').value = '';
             document.getElementById('descInput').value = '';
         };
      </script>
   </body>
</html>


