<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Navbar in Flask</title>
    <style>
        a:link {
            text-decoration: none;
        }
        #jump {
            color: black;
            text-align: center;
            padding: 20px;
            font-size: 2em
        }
        h5, th {
            text-align: center;
        }
    </style>
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Hen House</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_first_page') }}">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_second_page') }}">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_third_page') }}">Calendar</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="margin-top: 10px;">
            <div style="text-align: center; font-size: 3em; background-color: #f0f0f0; padding: 10px">
                <h1>
                    Hen House
                </h1>
                <h3>
                    Description here
                </h3>
            </div>
            
            <table align = "center">
                <thead>
                    <tr>
                        <th>
                            <a id="jump" href="{{ url_for('view_first_page') }}">Support</a>
                        </th>
                        <th>
                            <a id="jump" href="{{ url_for('view_second_page') }}">Feed</a>
                        </th>
                        <th>
                            <a id="jump" href="{{ url_for('view_third_page') }}">Calendar</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="width: 33%; padding: 5px;">
                            <h5>Get support from AI on scheduling, event suggestions, and when to plan events</h5>
                        </th>
                        <th style="width: 33%; padding: 5px;">
                            <h5>Read and post on the feed on upcoming events</h5>
                        </th>
                        <th style="width: 33%; padding: 5px;">
                            <h5>Find upcoming events at UD, nearby Newark, and your upcoming Canvas assignments to balance both academic and non-academic events</h5>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>