<!doctype html>
<html lang="en">
    <body>
        <form action="/feed" method="POST">

            <h1> University of Delaware </h1>

            <label for="username"> Username: </label>
            <input type="text" id="username" name="username_input" required>

            <p></p>

            <label for="password"> Password: </label>
            <input type="text" id="password" name="password_input" required>

            <p></p>

            <button type="submit" value="Login"> Login </button>
        </form>
    </body>
</html>

